:root {
    --primary: #eef2ff;
    --secondary: #d6daf0;
    --secondary-accent: #ba9dbf;
    --tertiary: #d6bad0;
    --tertiary-accent: #b7c5d9;
    --highlight: #98e;
    --contrast: #af0a0f;
    --accent: #117743;
    --quote: #789922;
    --url: #34345c;
}

[data-theme="nsfw"] {
    --primary: #FFFFEE; //GA
    --secondary: #F0E1D7;
    --secondary-accent: #FFE1D7;
    --tertiary: #F0E0D6;
    --tertiary-accent: #D9BFB7;
    --highlight: #EEAA88;
    --contrast: #af0a0f;
    --accent: #117743;
    --quote: #789922;
    --url: #00e;
}