:root {
    --primary: #eef2ff;
    --secondary: #d6daf0;
    --secondary-accent: #b7c5d9;
    --tertiary: #d6bad0;
    --tertiary-accent: #ba9dbf;
    --highlight: #98e;
    --contrast: #af0a0f;
    --accent: #117743;
    --quote: #789922;
}