.animation-spin {
    animation: spin-keyframes 60s infinite linear;
}

.animation-spin.spin-second {
    animation: spin-keyframes 1s infinite linear;
}

.animation-spin.spin-minute {
    animation: spin-keyframes 60s infinite linear;
}

.animation-spin.spin-hour {
    animation: spin-keyframes 3600s infinite linear;
}

.animation-spin.spin-fast {
    animation: spin-keyframes 30s infinite linear;
}

.animation-spin.spin-faster {
    animation: spin-keyframes 10s infinite linear;
}

.animation-spin.spin-sanic {
    animation: spin-keyframes 1s infinite linear;
}

.animation-direction-reverse {
    animation-direction: reverse !important;
}

@keyframes spin-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-download {
    animation: download-keyframes 5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes download-keyframes {
    0% {
        opacity: 0.35;
        transform: scale(0.9);
    }

    49% {
        opacity: 0;
        transform: scale(0.8);
    }

    50% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0.35;
        transform: scale(0.9);
    }
}

.animation-fade-in {
    animation: fade-in-keyframes 1s cubic-bezier(0,.69,.69,1)
}

@keyframes fade-in-keyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

.animation-fade-out {
    animation: fade-out-keyframes 1s cubic-bezier(0,.69,.69,1)
}

@keyframes fade-out-keyframes {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animation-pulse {
    animation: pulse-keyframes 1s linear infinite;
}

.animation-pulse-once {
    animation: pulse-keyframes 1s linear;
}

@keyframes pulse-keyframes {
    0% {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }


    100% {
        opacity: 0;
        transform: translate(0%, 10%) scale(1.1);
    }
}

@keyframes clicknotice {
    0% { transform: translate(-50%, -50%); opacity: 1; }
    100% { transform: translate(-50%, -100%); opacity: 0; }
}
