/* Custom atomic CSS */
.text-highlight {
    color: var(--highlight);
}

.text-contrast {
    color: var(--contrast);
}

.text-accent {
    color: var(--accent);
}

.text-quote {
    color: var(--quote);
}

.text-secondary {
    color: var(--secondary);
}

.text-url {
    color: var(--url);
}

.text-readable-anywhere {
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.text-2xs {
    font-size: 0.5rem;
}

.font-family-tahoma {
    font-family: Tahoma,helvetica,sans-serif;
}

.font-family-arial {
    font-family: arial,helvetica,sans-serif;
}

.font-size-090rem {
    font-size: 0.90rem;
}

.grid-template-columns-ram-150px {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-secondary-accent {
    background: var(--secondary-accent);
}

.bg-tertiary {
    background: var(--tertiary);
}

.bg-tertiary-accent {
    background: var(--tertiary-accent);
}

.bg-highlight {
    background: var(--highlight);
}

.border-bottom-invisible {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
}

.border-bottom-secondary {
    border-bottom: 1px solid var(--secondary);
}

.border-top-secondary-accent {
    border-top: 1px solid var(--secondary-accent);
}

.border-top-tertiary-accent {
    border-top: 1px solid var(--tertiary-accent);
}

.border-tertiary-accent {
    border: 1px solid var(--tertiary-accent);
}

.border-bottom-secondary-accent {
    border-bottom: 1px solid var(--secondary-accent);
}

.border-bottom-tertiary {
    border-bottom: 1px solid var(--tertiary);
}

.border-bottom-tertiary-accent {
    border-bottom: 1px solid var(--tertiary-accent);
}

.border-right-secondary {
    border-right: 1px solid var(--secondary);
}

.border-right-secondary-accent {
    border-right: 1px solid var(--secondary-accent);
}

.border-right-tertiary {
    border-right: 1px solid var(--tertiary);
}

.border-right-tertiary-accent {
    border-right: 1px solid var(--tertiary-accent);
}

.border-bottom-highlight {
    border-bottom: 1px solid var(--highlight);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-secondary-accent {
    border-color: var(--secondary-accent);
}

.border-tertiary {
    border-color: var(--tertiary)
}

.border-highlight {
    border-color: var(--highlight)
}

.max-h-150px {
    max-height: 150px;
}

.max-h-320px {
    max-height: 320px;
}

.max-h-150px {
    max-height: 150px;
}

.max-h-320px {
    max-height: 320px;
}

.min-h-100vh {
    min-height: 100vh;
}

.min-h-75vh {
    min-height: 75vh;
}

.min-h-50vh {
    min-height: 50vh;
}

.max-h-50vh {
    max-height: 50vh;
}

.max-w-initial {
    max-width: initial !important;
}

.max-h-initial {
    max-height: initial !important;
}

.max-w-75vw {
    max-width: 75vw;
}

.max-w-90vw {
    max-width: 90vw;
}

.max-w-95vw {
    max-width: 95vw;
}

.max-w-100vw {
    max-width: 100vw;
}

.min-w-3rem {
    min-width: 3rem;
}

.h-150px {
    height: 150px;
}

.w-150px {
    width: 150px;
}

.h-16px {
    height: 16px;
}

.h-100px {
    height: 100px;
}

.w-100px {
    width: 100px;
}

.w-64px {
    width: 64px;
}

.w-128px {
    width: 128px;
}

.w-150px {
    width: 150px;
}

.w-80vw {
    width: 80vw;
}

.w-100vw {
    width: 100vw;
}

.min-w-100vw {
    min-width: 100vw;
}

.min-w-32rem {
    min-width: 32rem;
}

.min-w-128px {
    min-width: 128px;
}

.min-h-12rem {
    min-height: 12rem;
}

.max-w-8rem {
    max-width: 8rem;
}

.max-w-10rem {
    max-width: 10rem;
}

.max-w-12rem {
    max-width: 12rem;
}

.max-w-16rem {
    max-width: 16rem;
}

.md\:max-w-16rem {
    @media (min-width:768px) {
        max-width: 16rem;
    }
}

.max-w-128px {
    max-width: 128px;
}

.max-w-150px {
    max-width: 150px;
}

.max-w-11rem {
    max-width: 11rem;
}

.max-w-50vw {
    max-width: 50vw;
}

.max-w-512px {
    max-width: 512px;
}

.sm\:max-w-4\/6 {
    @media (min-width:640px) {
        max-width: 66.666667%;
    }
}

.max-h-5\/6 {
    @media (min-width:640px) {
        max-height: 83.333333%;
    }
}

.min-h-20 {
    min-height: 5rem;
}

.h-64px {
    max-height: 64px;
}

.max-h-128px {
    max-height: 128px;
}

.max-h-75vh {
    max-height: 75vh;
}

.max-h-100vh {
    max-height: 100vh;
}

.min-h-200px {
    min-height: 200px;
}

.break-word {
    word-wrap: break-word;
    word-break: break-word;
}

.opacity-2 {
    opacity: 0.02;
}

.opacity-98 {
    opacity: 0.98;
}

.p-none {
    padding: 0 !important;
}

.p-01 {
    padding: 0.1rem;
}

.b-none {
    border: 0 !important;
}