/** Custom complex behaviour components that I don't want to make atomic scss for **/
.dchan-censor {
    opacity: 0.25;
    filter: blur(2px) contrast(0.5) saturate(0.5);
}

.on-parent-target-show {
    display: none;
}

:target .on-parent-target-show {
    display: initial;
}

:target .on-parent-target-hide {
    display: none;
}

:target .on-parent-target-font-bold {
    font-weight: 700;
}

.dchan-post-signature-check {
    display: none;
    opacity: 0.25;
    font-size: 0.5rem;
}

.dchan-post-signature-check:hover {
    opacity: 1;
}

[dchan-post-signature-valid="true"] .dchan-post-signature-check.on-parent-dchan-post-signature-valid-show {
    display: unset;
}

[dchan-post-signature-valid="false"] .dchan-post-signature-check.on-parent-dchan-post-signature-invalid-show {
    display: unset;
}

/*
.dchan-navigation-board + .dchan-navigation-board::before {
    content: " / ";
}
*/

.dchan-form-expand[open] .dchan-post-fab.absolute {
  display: none;
}

.dchan-header-navigation details[open] > summary {
    background: var(--primary)
}

.dchan-post-spoiler {
    background-color: black;
    color: black;
}

.dchan-post-spoiler:hover {
    color: white;
}

.dchan-postref {
    text-decoration: underline;
}

.dchan-link {
    cursor: pointer;
    color: var(--url);

    &:hover {
        color: red;
    }
}

.dchan-menu {
    position: relative;

    & > div {
        top: -0rem;
        left: 1rem;
    }
}

.dchan-footer-buttons > * {
    position: relative;
    top: -1px;
}

.dchan-popular-boards .dchan-loading {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.dchan-post-body, .dchan-input-comment {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
}

.dchan-post-you {
    border: 2px dashed var(--tertiary) !important;
}

.dchan-link-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.dchan-brackets::before {
    content: "[";
}

.dchan-brackets::after {
    content: "]";
}