@tailwind base;
@tailwind components;
@tailwind utilities;

@import "nprogress/nprogress.css";

@import "./compatibility/index.scss";
@import "./theme.scss";
@import "./atoms.scss";
@import "./components.scss";
@import "./boards.scss";
@import "./animations.scss";
@import "./center.scss";
@import "./markdown.scss";

button[disabled] {
    opacity: 0.5
}

body {
    background: var(--primary);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-family: arial, helvetica, sans-serif;
}  

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

select {
    padding: 0.1rem;
    margin: 0.1rem;
    border: solid 1px gray;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    padding-left: 0.25rem;
}

.emoji {
    display: inline-block;
    width: auto;
    height: 1em;
    vertical-align: -0.125em;
}

[alt="⭐️"] {
    filter: grayscale(1)
}